.is-dark p {
	color: white;
}

.message-container {
	margin-top: 20px;
}

.message-sender {
	display: block;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.input-fix {
	margin: 0;
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    margin-bottom: 20px;
}